.Container-Navbar {
    display: block;
    max-width: 1260px !important;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    -webkit-box-pack: justify;
    justify-content: space-between;
    border-bottom: 0px none transparent;
}

.image {
    margin-right: 50px;
}

.img.user {
    padding-right: 8px;
}